.franja_container{
    width: 100vw;
    height: 40px;
    background-color: #3e3e3e;
    position:absolute;
    top: 78px;
    display: none;
}

@media only screen and (max-width: 650px){
    .franja_container{
        display: none;
        p{
            color: white;
        }

        .flex_cels{
            display: flex;
        }
    }

}