.inicio_container{
    overflow-x: hidden;



    .cuerpo_container{
        width: 96%;
        margin: auto;
        display: grid;
         grid-template-columns: 1fr;
         gap: 20px;
         margin: 20px auto;

    }
}

.inicio_container2:first-child{
    background-color: #f0f0f0;
}

@media screen and (max-width: 600px) {
    .inicio_container{

        .cuerpo_container{
            width: 95%;
            h3{
                font-size: 25px;
            }
        }
    }
}