.curso_container{
    .coloreado_container{
        width: 100%;
        background: linear-gradient(90deg, #1e1e1e , #ef3737);

        .contenido_textual{
            width: 80%;
            margin: auto;
            display: grid;
            grid-template-columns: 5fr 3fr;
            gap: 50px;
            padding: 40px;

            .lado_izquierdo{
                
                .texto{
                    color: white;
                    .curso_nombre{
                        font-size: 30px;
                        font-weight: 600;
                        color: white;
                        margin: 0;
                    }
                    .curso_descripcion{
                        margin: 20px auto;
                    }

                }
                
                .btn{
                    display: flex;
                    gap: 20px;
                    .btn_inscribirse{
                        text-align: center;
                        color: white;
                        background-color: rgb(255, 196, 1);
                        border: none;
                        padding: 6px 14px;
                        cursor: pointer;
                        p{
                            margin: 4px auto;
                            font-weight: 600;
                        }

                        .inscribirse{
                            font-size: 16px;
                        }
                        .start{
                            font-size: 12px;
                        }
                    }
                    .btn_inscribirse:hover{
                        background-color: rgb(255, 166, 1);
                    }
                    .acceso{
                        color: white;
                    }
                }

                .inscritos{
                    color: white;
                }
            }

        }
    }
    .aprenderas{
        width: 80%;
        margin: 20px auto;
        color: #616161;
        display: grid;
        grid-template-columns: 5fr 3fr;
        .izquierda{
            .queaprenderas{
                font-weight: 600;
            }
            .checks{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 0 40px;
                div{
                    display: flex;
                    .icon{
                        color: green;
                        font-size: 18px;
                    }
                }
            }
        }

        .derecha{
            padding: 40px 0;
            .derecha_nose{
                display: flex;
                flex-direction: column;
                gap: 20px;
                .cada_div{
                    display: flex;

                    .icon{
                        color: red;
                        font-size: 25px;
                        padding: 8px;
                        margin-right: 15px;
                        border-radius: 50%;
                        border: 2px solid #dbdbdb;
                    }
                    div{
                        strong{
                            color: black;
                        }
                        .sub{
                            margin: 0;
                        }
                    }
                }

            }
        }
    }
}

@media (max-width: 1000px){
    .curso_container{
        .coloreado_container{
    
            .contenido_textual{
                margin: auto;
                display: grid;
                grid-template-columns: 1fr;
                gap: 10px;
                width: 90%;
                padding: 15px 0 25px 0;
    
                .lado_izquierdo{
                    
                    .texto{

                        .curso_nombre{

                        }
                        .curso_descripcion{

                        }
    
                    }
                    
                    .btn{

                        .btn_inscribirse{

                            p{

                            }
    
                            .inscribirse{

                            }
                            .start{

                            }
                        }
                        .btn_inscribirse:hover{

                        }
                        .acceso{

                        }
                    }
    
                    .inscritos{

                    }
                }

                .img_div{
                    display: flex;
                    justify-content: center;
                    img{
                        width: 80%;
                    }
                }
    
            }
        }
        .aprenderas{
            width: 90%;
            margin: 10px auto;
            grid-template-columns: 1fr;
            .izquierda{
                .queaprenderas{
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                .checks{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 0 40px;
                    div{
                        display: flex;
                        .icon{
                            color: green;
                            font-size: 18px;
                        }
                    }
                }
            }
    
            .derecha{
                padding: 20px 0;
                .derecha_nose{

                    .cada_div{
                        display: flex;
    
                        .icon{
                            color: red;
                            font-size: 25px;
                            padding: 8px;
                            margin-right: 15px;
                            border-radius: 50%;
                            border: 2px solid #dbdbdb;
                        }
                        div{
                            strong{
                                color: black;
                            }
                            .sub{
                                margin: 0;
                            }
                        }
                    }
    
                }
            }
        }
    }
    
}